* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}


.triangle {
  position: absolute;
  z-index: 101;
  right: 285px;
  top: 35px;
  display: none;
  background-color: transparent;
  width: 0px;
  height: 0px;
  transition: all 2s;
  border: 12px solid blue;
  border-color: transparent transparent white transparent;
}

.black.active-1 {
  top: 70px;
  width: 100%;
  z-index: 99;
}

.hdn-sign.active {
  display: block;
}

.triangle.active {
  display: block;
}

.hdn-sign {
  position: absolute;
  z-index: 101;
  transition: all 2s;
  width: 500px;
  height: 375px;
  top: 10px;
  right: -164px;
  background-color: white;
  border-radius: 5px;
}

.hdn-table {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.hdn-table h3 {
  font-size: 17px;
  padding: 10px 0;
}

.hdn-table li {
  color: rgb(84, 84, 84);
  font-size: 13px;
  padding: 5px 0;
  cursor: pointer;
}

.hdn-line {
  width: 0.5px;
  color: black;
  background-color: rgb(100, 100, 100);
  height: 340px;
}

.navbar {
  height: 68px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-logo {
  height: 58px;
  width: 100px;
}

.logo {
  background-image: url("amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 100%;
}

.border {
  border: 1.5px solid transparent;
}

.border:hover {
  border: 1.5px solid white;
}

.address {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 15px;
}

.fa-solid {
  font-size: 1.4rem;
}

.cart {
  font-size: 1rem;
}

.india {
  font-size: 1rem;
  margin: 3px;
}

.add-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-search {
  display: flex;
  background-color: pink;
  justify-content: space-evenly;
  width: 620px;
  height: 40px;
  border-radius: 4px;
}


.nav-search:hover {
  border: 2px solid orange;

}

.search-select {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}

.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;

}

.search-icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: rgb(241, 191, 23);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #0f1111;
}

.ayush {
  font-size: 12px;
}

.account {
  font-size: 14px;
  font-weight: bold;
  background-color: #0f1111;
}

span {
  font-size: 12px;

}

.nav-second {
  font-size: 14px;
  font-weight: 700;
}

.panel {
  height: 40px;
  background-color: #222f32;
  display: flex;
  color: #f3f3f3;
  align-items: center;
  justify-content: space-evenly;
}

.panel-ops p {
  display: inline;
  margin-left: 15px;

}

.panel-ops {
  width: 70%;
  font-size: 0.85rem;
}


.panel-deals {
  font-size: 0.9rem;
  font-weight: 700;
}

.sec-1 {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.slide img {
  width: 1350px;
  height: 100%;

}

.container {
  position: relative;
  width: 100%;
  height: auto;
}

.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 350px;
}

.image-box {
  display: flex;
  position: absolute;
  animation: carousel 15s alternate infinite;
}

@keyframes carousel {
  0% {
    left: 0;
    ;
  }

  20% {
    left: 0%;

  }

  24% {
    left: -1350px;
  }

  50% {
    left: -1350px;
  }

  54% {
    left: calc(-1350*2px);
  }

  80% {
    left: calc(-1350*2px);
  }

  84% {
    left: calc(-1350*3px);
  }

  100% {
    left: calc(-1350*3px);
  }
}

.hero-message {
  background-color: white;
  color: black;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  margin-bottom: 25px;

}

.hero-message a {
  color: #007185;
}

.shop-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e2e7e6;
}

.box {
  height: 420px;
  width: 23%;
  background-color: white;
  padding: 20px 0px 15px;
  margin-top: 15px;
}

.box-img {
  height: 300px;
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.box-content {
  margin-left: 10px;
  margin-right: 10px;
}

.see {
  text-align: center;
}


.box-content p {
  color: #007185;
}

footer {
  margin-top: 15px;
}

.foot-panel {
  background-color: #37475a;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
}

.foot-panel2 {
  background-color: #222f3d;
  color: white;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
}

ul {
  margin: 20px;
}

ul a {
  display: block;
  font-size: 0.85rem;
  margin-top: 10px;
  color: #dddddd;

}

.foot-panel3 {
  background-color: #222f3d;
  border-top: 0.5px solid white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  background-image: url("amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 100px;
}

.foot-panel4 {
  background-color: #0f1111;
  color: white;
  height: 80px;
  font-size: 0.75rem;
  text-align: center;
}

.pages {
  padding-top: 25px;
}

.copyright {
  padding-top: 5px;

}

.sec-2 {
  width: 100%;
  height: 315px;
  padding: 25px;
  padding-top: 50px;
  padding-bottom: 25px;
}

.slide-sec h3 {
  font-size: 20px;
  padding-bottom: 5px;
}

.slide-sec {
  width: 100%;
  height: 100%;
  padding: 20px 20px 10px 20px;
  overflow: hidden;
  background-color: white;
  position: relative;
}

.product-slide {
  display: flex;
  margin-top: 5px;
  overflow-x: scroll;
  scroll-behavior: smooth;

}

.product-slide::-webkit-scrollbar {
  background-color: transparent;
  height: 7px;
  cursor: pointer;

}

.product-slide::-webkit-scrollbar-thumb {
  border-radius: 10px;
  cursor: pointer;
}

.product-slide li {
  list-style: none;
  margin-right: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}

.l-btn,
.r-btn {
  background-color: white;
  height: 90px;
  width: 50px;
  text-align: center;
  cursor: pointer;
  top: 35%;
  position: absolute;
  border: 3px solid transparent;
}

.l-btn {
  border-radius: 0 5px 5px 0;
  left: 20px;
}

.r-btn {
  border-radius: 5px 0 0 5px;
  right: 20px;
}

.l-btn:hover {
  border: 3px solid rgb(2, 150, 150);
}

.r-btn:hover {
  border: 3px solid rgb(2, 150, 150);
}

.r-btn i,
.l-btn i {
  color: rgb(54, 54, 54);
  position: absolute;
  font-size: 30px;
  top: 35%;
  left: 13%;
  right: 13%;
}

.sidebar {
  background-color: white;
  width: 380px;
  height: 100%;
  transform: translateX(-390px);
  transition: all 0.5s;
  height: 100%;
  position: absolute;
  z-index: 101;
  overflow-y: scroll;
  box-shadow: 2px 2px 30px black;
}

.hdn-head {
  background-color: #232f3e;
  height: 60px;
  width: 100%;
  color: white;
  text-align: center;
}

.hdn-head h2 {
  line-height: 60px;
}

.hdn-content h3 {
  padding: 20px 25px;
  color: rgb(39, 39, 39);
}

.hdn-content ul div {
  display: flex;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 14px;
  color: rgb(70, 70, 70);
  padding: 15px 25px;
  justify-content: space-between;
}

.line {
  height: 0.4px;
  width: 100%;
  background-color: rgb(172, 172, 172);

}

.fa-xmark {
  top: 20px;
  left: 400px;
  position: absolute;
  font-size: 30px;
  z-index: 101;
}

.fa-angle-right {
  color: rgb(27, 27, 27);
}

.hdn-content ul div:hover {
  background-color: rgb(230, 227, 227);
}

.hdn-content ul {
  padding-bottom: 9px;
}

.black {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.black.active {
  width: 100%;
  z-index: 100;
}

.sidebar.active {
  transform: translateX(0);
}

.fa-xmark.active {
  display: block;
}

.close-btn {
  color: white;
  cursor: pointer;
}